body {
    background-color: #A9B3C0;
    font-family: "Times New Roman", serif;;
    
}

h1 {
    color: #0000FF;
}

#heading {
    color: #FF0000;
}

#para1 {
    background-color: #12B5B5;
    font-size: 12px;
}

#para2 {
    background-color: #F0B4B4;
    font-size: 12px;
}

#para3 {
    background-color: #FF9EAE;
    font-size: 12px;
}

.heading2 {
    color: #0000FF;

}

#heading1 {
    text-align: right;
}
