body {
    background-color: #323337;
}

h1 {
    font-family:  Arial, sans-serif;
    text-align: center;
    font-size: 100px;
    letter-spacing: -15px;
}

.blue {
    color: #3186FF
}

.red {
    color: #FC413D
}

#yellow {
    color: #FFBE00
}

#green {
    color: #00AF57
}